/** 
 *  @fileoverview Arranges the page so that it is item1 on the left side
 *  and item2 on the right side
 */ 
 * {
  box-sizing: border-box;
}

body {
  background-color: #e7e9eb;
  /* margin: 0; */
}


.column {
  float: left;
  width: 50%;
  height: 95vh;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 48vh;
  }
}

#terminal {
  bottom: 0;
  right: 0;
}

#errorLogs {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  resize: none;
  outline: none;
}