/** 
 *  @fileoverview Arranges the page so that it is item1 on the left side
 *  and item2 on the right side
 */ 
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  height: 100vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: 50vh;
  }
}

#terminal {
  bottom: 0;
  right: 0;
}