.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 400px;
}
.item1 {
    border-style: groove;
}
.item2 {
    border-style: groove;
}
#app 
{
    height: 100%;
}


/* body 
{ */
    /* height: 100vh; */
    /* font-family: monospace;
}

#app 
{
    height: 100%;
}
  
#textEdit
{
    width: 868px;
    height: 400px;
    border-style: groove;
} */
